# Virtual environment
venv/
**/venv

# Compiled Python files
*.pyc
__pycache__/

# Logs
*.log

# Environment variables
.env

# Ignore Node.js module folder and npm log files
node_modules/
**/node_modules
npm-debug.log
npm-error.log
package-lock.json

